<ul class="nav">
  <li class="nav-item">
    <a class="router-link active" aria-current="page" href='home'> Home</a>
  </li>
  <li class="nav-item">
    <a class="router-link" href="episodelist"> Epiosdes</a>
  </li>
  <li class="nav-item">
    <a class="router-link" href=""> Characters</a>
  </li>
  <li class="nav-item">
    <a class="router-link active" href="#" > Locations</a>
  </li>
</ul>


  <div class ="container " *ngIf = "episode">
    <div>Episode #: {{episode.id}}</div>
    <div>Title: {{episode.name}}</div>
    <div>Aired: {{episode.air_date}}</div>
    <div>{{episode.episode}}</div>
    <!-- *ngFor = "let character of characters;" -->
    <div>Characters: </div>
    <div class= "grid-container">
      <div *ngFor = "let character of episode.characters;">
      <div  class = "grid-item"> <img src ="{{character.slice(0,41)+'/avatar/'+character.slice(42)+('.jpeg')}} " width="100" height="100"> </div>
      <!-- <img src ="{{character.slice(0,41)+'/avatar/'+character.slice(42)+('.jpeg')}} " width="100" height="100"> -->
      </div>

    </div>
    <!-- <div *ngFor = "let character of episode.characters;">
      <div><br><img src ="{{character.slice(0,41)+'/avatar/'+character.slice(42)+('.jpeg')}} " width="100" height="100"></div>
    </div> -->
  </div>





