<div class = "container height:1200px width:3000px">
<div class="bg-image" style="
      background-image: url('https://images6.alphacoders.com/909/thumb-1920-909641.png');
      height: 1100px;
      width: 10000px;
     background-color: greenyellow
    ">
  <div class = "container">
  <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="router-link active" aria-current="page" href='home'> Home</a>
  </li>
  <li class="nav-item">
    <a class="router-link" href="episodelist"> Epiosdes</a>
  </li>
  <li class="nav-item">
    <a class="router-link" href=""> Characters</a>
  </li>
  <li class="nav-item">
    <a class="router-link active" href="#" > Locations</a>
  </li>
</ul></div>

<router-outlet></router-outlet></div><ul class="nav">

