.card {
    width: 20rem;
    /* height: 30rem; */
}
 img {
    width:auto;
    height:auto;
} 
.img-thumbnail{
    border-color: grey;
    border-width: 3px;
}
.card:hover{
    border-color: steelblue;
    /* border-radius: 50%; */
    background-color:black;
    opacity: 0.85;
    /* .img-thumbnail. */
    
}
a:hover {
    text-decoration: none;
}
input {
    z-index: 2;
    position: relative
}
.stretched-link{
    z-index: 1;
}