<div class = "container d-flex flex-column justify-content-center align-items-center">
  <div><h1>Welcome to the Rick n Morty Fan Page!</h1></div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images3.alphacoders.com/812/thumb-1920-812062.png" class="d-block w-100" alt="1">
        </div>
        <div class="carousel-item">
            <img src="https://images3.alphacoders.com/633/thumb-1920-633288.png" class="d-block w-100" alt="2">
        </div>
        <div class="carousel-item">
           <img src="https://images5.alphacoders.com/796/thumb-1920-796108.jpg" class="d-block w-100" alt="3">
         </div>
      </div>
  </div>
</div>

